<md-content class="dividerdemoBasicUsage">
<md-dialog aria-label="Sign in">
  <md-content>
  <h3>Login to JOBQUIQ</h3>
    <md-subheader class="md-sticky-no-effect"> Sign in with Google</md-subheader>
    <p style="text-align:center">
      <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Sign in" ng-click="googleLogin()">
            <md-icon icon="img/icons/ic_post_gplus_24px.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>

    </p>
    
  </md-content>
  <div class="md-actions" layout="row">
    <!-- <md-button  ng-click="dialogueEventHandler('not useful')"> Not Useful</md-button> -->
    <md-button   ng-click="dialogueEventHandler('very useful')" class="md-primary">Cancel </md-button>
  </div>
</md-dialog>



<!-- <md-button><h1>GOOGLE LOGIN</h1></md-button> -->
</md-content>


