<md-content class="dividerdemoBasicUsage">
<md-dialog aria-label="Mango (Fruit)">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Mango (Fruit)</md-subheader>
    <p>
      The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature.
    </p>
    
  </md-content>
  <div class="md-actions" layout="row">
    <md-button  ng-click="dialogueEventHandler('not useful')"> Not Useful</md-button>
    <md-button   ng-click="dialogueEventHandler('very useful')" class="md-primary">Useful </md-button>
  </div>
</md-dialog>



<!-- <md-button><h1>GOOGLE LOGIN</h1></md-button> -->
</md-content>