<div class="">
<md-content layout="column" layout-align="center center">
<br>
  <img src="img/logo_prd.png" >
 <md-content class="md-padding home_txt" >
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </md-content>
  <md-button class="md-primary md-raised" md-theme="orange" ng-click='gotoNext()'>check listing</md-button>
</md-content>
</div>