.home_icon{position: absolute; right: 10px;top: -6px;height: 36px;}
.user_icon{position: absolute; right: 35px;top: -6px;height: 36px;}
.settings_icon{text-transform: uppercase;color: orange;}
.list_text{text-align: left;}
.logo_type{width: 50%;margin-top: 10px;}
.side_nav_logo{width:33%}
.home_txt{padding: 18px!important;text-align: justify;text-transform: initial;line-height: 18px;}
.profile{}
.profile .face {border-radius: 30px;border: 1px solid #ddd;width: 48px;margin: 16px; margin-bottom: 0px; }
.detail_box{height: 60px}
.normal_txt{text-transform: none;}
.md-button{
  
   font-family: RobotoDraft, Roboto, sans-serif;font-weight: bold;
}
/*TOOLBARS*/
md-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  font-size: 1.3em;
  /*Anand*/
  min-height: 34px;
  width: 100%; }
  md-toolbar.md-tall {
    height: 192px;
    min-height: 192px;
    max-height: 192px; }
  md-toolbar.md-medium-tall {
    height: 88px;
    min-height: 88px;
    max-height: 88px; }
    md-toolbar.md-medium-tall .md-toolbar-tools {
      height: 48px;
      min-height: 48px;
      max-height: 48px; }
  md-toolbar .md-indent {
    margin-left: 64px; }
    .md-toolbar-tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  /*Anand*/
  height: 34px;
  min-height: 34px;
  max-height: 64px;
  font-size: inherit;
  font-weight: normal;
  padding: 0 10px;
  margin: 0; }
  .md-toolbar-tools > * {
    font-size: inherit;
    margin: 0 8px; }
  .md-toolbar-tools h2, .md-toolbar-tools h3 {
    font-weight: normal; }
  .md-toolbar-tools a {
    color: inherit;
    text-decoration: none; }
  .md-toolbar-tools .md-button {
    font-size: 14px; }


    .buttondemoBasicUsage { 
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    /*margin: 1em;*/
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section .md-button:not(.md-fab) {
    min-width: 10em; }
  .buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }

/*TABS*/
    .tabsdemoStaticTabs {
  /*
 * Animation styles
 */ }
  .tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
  .tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
  .tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
  .tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height: 300px;
    overflow: hidden; }
  .tabsdemoStaticTabs [role="tabpanel"] {
    color: white;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
  .tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
  .tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
  .tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
  .tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
  .tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }

    /*FORM*/
    .textFielddemoBasicUsage {
  /**
 *  SaSS version
 *
 * form > .row {
 *   @include flex-display();
 *   @include flex-align-items(center);
 *   @include flex-direction(row);
 *
 *   > * {
 *     font-size: inherit;
 *     margin: 0 8px;
 *   }
 *
 *   margin-left: -8px;
 * }
 *
 *
 * md-input-group.long {
 *   input {
 *      width : 262px;
 *   }
 * }
 *
*/ }
  .textFielddemoBasicUsage form > .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: -8px; }
  .textFielddemoBasicUsage .row > * {
    font-size: inherit;
    margin-left: 8px;
    margin-right: 8px; }
  .textFielddemoBasicUsage md-input-group.long > input {
    width: 264px; }

  /*LIST*/
  .dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
  /*Dialogue*/
  .dialogdemoBasicUsage .full {
  width: 100%;
  height: 100%; }
.dialogdemoBasicUsage .gap {
  width: 50px; }
.dialogdemoBasicUsage .md-subheader {
  background-color: #dcedc8;
  margin: 0px; }
.dialogdemoBasicUsage h2.md-subheader {
  margin: 0px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
  padding-left: 10px; }
  /*SUBHEADER*/
  .subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }


  /*GOOGLE MAPS*/

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}


 uncomment this if you are using the <google-map> element instead of a div
.angular-google-map {
  display: block;
  }

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}